<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>newDashboard 2.0</title>
  <div th:replace="/fragments::links"></div>
</head>
<style>
  .card{
        transition: all 0.2s ease;
        cursor: pointer;
      }
.card:hover{
        box-shadow: 5px 6px 6px 2px #e9ecef;
        transform: scale(1.05);
    }
</style>
<body>
      <div th:replace="/fragments::header"></div>

      <div class="row row-cols-3 row-cols-md-3 g-4" >
          <div class="col" th:each="cycle: ${lists}">
              <div class="card text-bg-light border-success ">
                  <img src="photos/p1.jpg" class="card-img">
                  <div class="card-img-overlay">
                      <h5 class="card-title" th:text="${cycle.cycleName}">Avon</h5>
                      <p class="card-text" th:text="${cycle.cycleModel}">This is a best bike that we have</p>
                      <p class="card-text" th:text="${cycle.cycleType}"><small>Q </small></p>
                      <a href="#" class="btn btn-primary">Buy</a>
                  </div>
              </div>
          </div>
      </div>

      <div th:replace="/fragments::footer"></div>
</body>
</html>