<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="/fragments::links"></div>
</head>
<style>
.center {
        margin: auto;
        width: 30%;
        padding: 20px;
    }
</style>
<body>
<div th:replace="/fragments::header"></div>

<div class="center">

    <form action="#" th:action="@{/cycleEntered/{id} (id=${cycle.cycleId})}" th:object="${cycle}" method="post">
        <table>
            <tr>
                <td>
                    <label for="name" class="p-form-label-inline p-btn-disabled p-btn-round">Cycle Name
                </td>
                <td>
                    <input type="text" th:field="*{cycleName}" name="cycleName" id="name"  class="p-form-text-alt" placeholder="name">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="type" class="p-form-label-inline p-btn-disabled p-btn-round">Cycle Type
                </td>
                <td>
                    <input type="text" th:field="*{cycleType}" class="p-form-text-alt" name="cycleType" id="type" placeholder="type">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="model" class="p-form-label-inline p-btn-disabled p-btn-round">Cycle Model
                </td>
                <td>
                    <input type="text" th:field="*{cycleModel}"  class="p-form-text-alt" name="cycleModel" id="model" placeholder="model">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="price" class="p-form-label-inline p-btn-disabled p-btn-round">Cycle Price
                </td>
                <td>
                    <input type="number" th:field="*{price}"  class="p-form-text-alt" name="price" id="price" placeholder="price">
                </td>
            </tr>
            <tr>
                <td ></td>
            </tr>
        </table>

    </form>

    <form>
		<input type="hidden" th:field="*{cycleId}">
    </form>
</div>
<div class="center"><a type="submit" class="btn">Submit</a></div>

<div th:replace="/fragments::footer"></div>
</body>
</html>